

<div>
<div class="stock-table">
    <div class="table-head">
        <span class="table-head-label">
            Stocks
        </span>

    </div>

    <form class="search-form">

        <mat-form-field class="input-full-width">
            <span matPrefix> </span>
            <input type="text" matInput placeholder="Search" name="search"
                (keyup)="onSearch($event)">
            <!-- <button matSuffix mat-icon-button><mat-icon class="search-icon ">search</mat-icon></button> -->
        </mat-form-field>

    </form>

    <div class="wrap_table_stock">
      
        <table  mat-table class="full-width-table" [dataSource]="dataSource"
            matSort matSortActive matSortDisableClear
            matSortDirection="desc" aria-label="Elements">


            <!-- Stock Column -->
            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
                <td mat-cell *matCellDef="let row">
                    {{row.stock}}
                </td>
            </ng-container>

            <!-- Industry Column -->
            <ng-container matColumnDef="industry">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Industry</th>
                <td mat-cell *matCellDef="let row">{{row.industry}}</td>
            </ng-container>

            <!-- Sctor Column -->
            <ng-container matColumnDef="sector">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sector</th>
                <td mat-cell *matCellDef="let row">{{row.sector}}</td>
            </ng-container>

            <!-- Currency Column -->
            <ng-container matColumnDef="currency_code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency
                    code</th>
                <td class="clickable" mat-cell *matCellDef="let row">
                    {{row.currency_code}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:
                true"></tr>
            <tr mat-row *matRowDef="let row; let i= index; columns:
                displayedColumns;" (click)="getRowData(row,i)"
                [style.background]="clickedRow && selectedindex == i ? '#bff0f0': ''"></tr>

        </table>
   
        <div *ngIf="showNoresults" class="no-result">    
            <p> No results found</p>
            <img class="nofound" src="assets/no-results.png" alt="Equity Bank Logo">
        </div>
    </div>
    <div class="paginator-container">
        <mat-paginator class="table-footer" #paginator [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
        </mat-paginator>
    </div>


</div>

    
<app-stock-value [stock]="stock" ></app-stock-value>

</div>